@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url(/public/font_style/Gilroy-Regular.woff2) format("woff2"),
    url(/public/font_style/Gilroy-Regular.woff) format("woff"),
    url(/public/font_style/Gilroy-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0px;
  padding: 20px;
  font-family: "Gilroy";
  background-color: #a3f7a2;
  background-position: 0%;
  // background-image: url(public/pngwing.com\ \(4\).png);
  background-repeat: round;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
}

.wrapper {
  position: absolute;
  align-items: center;
  flex-direction: column;
  display: flex;
  max-width: 350px;
}

.black {
  background-color: #ffffff;
}

.titleAndChangeTheme {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#todoForm {
  margin: 10px;
}

.theme {
  width: 50px;
  height: 50px;
}

.theme:hover {
  opacity: 0.2;
}

img {
  width: 20px;
  height: 20px;
}

img:hover {
  cursor: pointer;
}

.img_done {
  border-radius: 50%;
  background-color: #3fd13f;
}

.img_change {
  background-color: rgb(221, 198, 53);
}

.img_del {
  border-radius: 50%;
  background-color: rgb(230, 62, 62);
}

.completed {
  text-decoration: line-through;
}

.form {
  top: 10px;
  position: sticky;

  background-color: #4b4a4a;
  box-shadow: 0px 20px 60px;
  border-radius: 10px;
  // width: 100%;
  margin: 10px;
  min-width: 100%;
}

.tasks__wrapper {
  z-index: 1;
  // width: 100%;
  min-width: 100%;
  box-shadow: 0px 20px 60px;
  border-radius: 10px;
  background-color: #4b4a4a;
  padding: 0px;
  min-height: 500px;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 10px;

  /* display: flex; */
  margin: 0px 0px;
}

li {
  color: #060606;
  box-shadow: 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 10px;
  background-color: #675f5f;
  border: 1px solid #000000;
  border-radius: 5px;
}

.zaglushka {
  background-color: #4b4a4a;
  text-align: center;
  font-family: "Gilroy";
  text-transform: uppercase;
}

/* Стили для кнопки удаления */
/* Стили для поля ввода и кнопки добавления */
#taskInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#addTask {
  background-color: #ad1515;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#addTask:hover {
  background-color: #45a049;
}

.nonvis {
  opacity: 0.2;
}

.task-item.green {
  background-color: #3fd13f;
}

.task-item {
  opacity: 1;
}

.removing {
  opacity: 0;
  transition: 1300ms;
}

.task-item.appearing {
  opacity: 1;
  transform: translateY(0);
}

.task-item p {
  min-width: 130px;
}

.removing p {
  min-width: 130px;
}

.black {
  background-color: #ffffff;
}
#todoForm {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 400px) {
  .tasks__wrapper {
    padding: 0px;
    min-height: 800px;
    width: 100%;
  }
  .tasks__wrapper.black {
    padding: 0px;
    min-height: 800px;
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .form.black {
    width: 100%;
  }
}
