$bodyDark: #008bff;
$blocksDark: #808080;

$backgroundGradientWebkit: -webkit-linear-gradient(
  90deg,
  #47a9fe,
  #3d8bff,
  #3064fe
); /* Chrome 10-25, Safari 5.1-6 */

$backgroundGradient: linear-gradient(
  90deg,
  #47a9fe,
  #3d8bff,
  #3064fe
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
