@import url(nullstyle.scss);
@import "colors.scss";

@font-face {
  font-family: "Gilroy";
  src: url(/public/font_style/Gilroy-Regular.woff2) format("woff2");
  font-weight: 900;
}
body {
  border: 0.5px solid #000000;
  margin: 0px;
  font-family: "Gilroy";
  // background-color: $bodyDark;
  background: $backgroundGradientWebkit;
  background: $backgroundGradient;
  background-position: 0%;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
}

.wrapper {
  position: absolute;
  align-items: center;
  flex-direction: column;
  display: flex;
  min-width: 600px;
}

.form {
  top: 10px;
  background-color: #fefeff;
  // box-shadow: 0px 20px 60px;
  min-width: 100%;
  border-radius: 10px 10px 0 0;
  padding: 20px;
}

.titleAndChangeTheme {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 50px;
  font-size: xx-large;
}

#todoForm {
  display: flex;
  gap: 23px;
}

#taskInput {
  padding: 20px;
  border: 1px solid #ccc;
  // box-shadow: 0px 0px 10px;
  width: 100%;
  border-radius: 10px;
}

#addTask {
  background: $backgroundGradientWebkit;
  background: $backgroundGradient;

  color: #fefeff;
  font-size: 18px;
  font-weight: 400;

  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
}

#addTask:hover {
  background-color: #45a049;
}

.theme {
  width: 50px;
  height: 50px;
}

.theme:hover {
  opacity: 0.2;
}

.tasks__wrapper {
  display: flex;
  padding: 20px;
  z-index: 1;
  min-width: 100%;
  background-color: #fefeff;
  min-height: 500px;
  border-radius: 0 0 10px 10px;
}

#taskList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  margin-bottom: 20px;
}

.task-item {
  color: #060606;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 10px;
  background-color: $bodyDark;
  border-radius: 5px;
}

.zaglushka {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: "Gilroy";
  font-weight: 900;
  text-transform: capitalize;
}

img {
  margin-inline: 10px;
  width: 20px;
  height: 20px;
  transition: all ease 0.2s;
}

img:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.img_done {
  border-radius: 50%;
  background-color: #3fd13f;
}

.completed {
  text-decoration: line-through;
}

.img_change {
  background-color: rgba(225, 205, 78, 0);
}

.nonvis {
  opacity: 0.2;
}

.task-item.green {
  background-color: #3fd13f;
}

.img_del {
  border-radius: 50%;
  background-color: rgb(230, 62, 62);
}

.task-item {
  opacity: 1;
}

.task-item.appearing {
  opacity: 1;
  transform: translateY(0);
}

.task-input {
  margin-right: auto;
  background-color: $bodyDark;
  width: 100%;
}

.task-input.completed {
  background-color: #3fd13f;
}

.removing {
  color: #060606;
  // box-shadow: 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 10px;
  background-color: $bodyDark;
  border-radius: 5px;
  transition: 1300ms;
  transform: translateX(-300%);
}

.deleteAllButton {
  background: rgb(221, 92, 92);
  background: linear-gradient(
    90deg,
    rgba(221, 92, 92, 1) 0%,
    rgba(250, 49, 9, 1) 48%,
    rgba(240, 79, 79, 1) 100%
  );
  color: #fefeff;
  padding: 10px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}

.black {
  background-color: #ffffff;
}

/* Стили для кнопки удаления */
/* Стили для поля ввода и кнопки добавления */

@media screen and (max-width: 600px) {
  body {
    border: none;
    margin: 0;
    padding: 0;
  }
  .wrapper {
    // width: 100%;
    // max-width: 100%;
    padding: 15px;
    min-width: 0;
    width: 100;
  }

  .form {
    // box-shadow: 0px 10px 60px;
    margin-top: 0px;
    top: 0px;
    width: 100%;
  }

  .form.black {
    width: 100%;
  }
  .tasks__wrapper {
    min-height: 800px;
    width: 100%;
  }
  .tasks__wrapper.black {
    padding: 0px;
    min-height: 800px;
    width: 100%;
  }
}
